<style>
    .container {width: 100%; margin:auto;}
    @media (min-width:  600px) {.container{width:80%}}
    @media (min-width: 768px) {.container{width:60%}}
    @media (min-width: 1024px) {.container{width:50%}}
</style>

<div class = "container">
<h2>Welcome to Generative AI. My Name is Infinite. May I know your name?</h2>
<img src = "https://images.squarespace-cdn.com/content/v1/56eb012f27d4bd29de975fae/1650724289411-7Q06289DTJ30O0ON7ZXD/HOK_INFINITE_HEADER.jpg" 
    width = "320" height = "240">
<form action="/main" method="post">
    <p><input type="text" name="q"></p>
    <p><input type="submit" value="Enter"></p>
</form>
</div>